
@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Bitcount+Prop+Single+Ink:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
@import "flowbite/src/themes/default"; 
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";


@theme {
    --font-sans: "Poppins", sans-serif;
    --font-display: "Alan Sans", sans-serif;
     --color-dark: #1e293b;
  --color-light: #f8fafc;
}




html {
    scroll-behavior: smooth;
}


@layer base {

    body {
        @apply bg-gray-100 font-sans antialiased ;
    }

    .app-container {
       @apply   max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 ;
    }
}


@layer components {
  .btn-primary {
    @apply text-white px-6 py-3 rounded-lg font-medium text-center transition shadow-lg;
    background-color: #FECB56;
  }

  .btn-primary:hover {
    background-color: #e5b54d; /* slightly darker hover shade */
    box-shadow: 0 0 10px #FECB56;
  }



    /* ---------- Cards ---------- */
  /* .food-card {
    @apply bg-white rounded-xl shadow-lg overflow-hidden transition-all hover:shadow-xl hover:-translate-y-1;
  }

  .food-card-image {
    @apply h-48 w-full bg-gradient-to-r flex items-center justify-center;
  }

  .food-card-icon {
    @apply w-10 h-10 rounded-full bg-primary/10 flex items-center justify-center text-primary mr-3;
  }

  .food-card-tag {
    @apply inline-block px-3 py-1 text-xs font-semibold rounded-full;
  } */

  
}


 /* ---------- Footer ---------- */
  .footer {
    @apply bg-gradient-to-b from-dark to-gray-900 text-white pt-16 pb-8;
  }

  .footer-description {
    @apply text-gray-400 leading-relaxed;
  }

  .footer-social-link {
    @apply text-gray-400 hover:text-white transition hover:-translate-y-1;
  }

  .footer-title {
    @apply text-lg font-semibold text-white;
  }

  .footer-link-list {
    @apply mt-6 space-y-3;
  }

  .footer-link {
    @apply text-gray-400  transition flex items-center;
  }

  .footer-newsletter-input {
    @apply px-4 py-2 rounded-lg bg-gray-800 text-white focus:outline-none focus:ring-2  focus:border-transparent;
  }

  .footer-newsletter-btn {
    @apply  text-white px-4 py-2 rounded-lg font-medium transition whitespace-nowrap;
  }

  .footer-newsletter-desc {
    @apply mt-6 text-gray-400;
  }

  .footer-newsletter-privacy {
    @apply mt-2 text-xs text-gray-500;
  }

  .footer-bottom-bar {
    @apply border-t border-gray-800 mt-12 pt-8 flex flex-col md:flex-row justify-between items-center;
  }

  .footer-bottom-text {
    @apply text-gray-500 text-sm;
  }

  .footer-bottom-link-group {
    @apply flex space-x-6 mt-4 md:mt-0;
  }

  .footer-bottom-link {
    @apply text-gray-500 hover:text-gray-300 text-sm;
  }
